<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <i class="fas fa-globe-europe"></i>
      <strong> Mundo Cine </strong>
      <i class="fas fa-theater-masks"></i>
  </a>
    <form class="form-inline" (ngSubmit)="searchMovie()">
      <input class="form-control" [(ngModel)]="searchValue" name="searchValue" type="search" placeholder="Busca tu pelicula" aria-label="Search"/>
      <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
</nav>
